<div class="main-container">
    <div class="content-container" fxLayout="row">
        <div class="tab-container mat-elevation-z4">
            <mat-tab-group>
                <mat-tab label="Completed">
                    <div class="inner-container">
                        <div *ngFor="let trail of completedTrails" fxLayout="column" 
                            class="trail-row-cont" [matTooltip]="trail.name + ' - ' + trail.location">
                            <div class="trail-row name">{{trail.name}}</div>
                            <div class="trail-row location">{{trail.location}}</div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Interested">
                    <div *ngFor="let trail of interestedTrails" fxLayout="column" 
                        class="trail-row-cont" [matTooltip]="trail.name + ' - ' + trail.location">
                        <div class="trail-row name">{{trail.name}}</div>
                        <div class="trail-row location">{{trail.location}}</div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="data-container" fxFlex fxLayout="column">
            <div fxFlex="44" class="sub-data all-time">
                <h3>All-Time</h3>
                <div fxLayout="row" fxLayoutAlign="space-around">
                    <div class="all-time-data">
                        <img src="../../../assets/roman_crown.svg">
                        <h2 [ngStyle]="{'left': completedTrails.length + interestedTrails.length < 10 ? '37px' : '33px'}">
                            {{completedTrails.length ? completedTrails.length + interestedTrails.length : 0}}
                        </h2>
                        <h6>Total</h6>
                    </div>
                    <div class="all-time-data">
                        <img src="../../../assets/roman_crown.svg">
                        <h2 [ngStyle]="{'left': completedTrails.length < 10 ? '37px' : '33px'}">
                            {{completedTrails.length ? completedTrails.length : 0}}
                        </h2>
                        <h6>Completed</h6>
                    </div>
                    <div class="all-time-data">
                        <img src="../../../assets/roman_crown.svg">
                        <h2 [ngStyle]="{'left': interestedTrails.length < 10 ? '37px' : '33px'}">
                            {{interestedTrails.length ? interestedTrails.length : 0}}
                        </h2>
                        <h6>Interested</h6>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 24px; text-align: left;">
                    <div>
                        <h5 style="margin-top: 8px;">Total Mileage: {{ATMileage | number : '1.2-2'}}</h5>
                        <h5>Total Ascent: {{ATAscent}} ft.</h5>
                    </div>
                    <mat-divider [vertical]="true" class="vertical-div"></mat-divider>
                    <div>
                        <h5>Longest: {{ATLongest | number : '1.2-2'}} miles</h5>
                        <h5>Highest Ascent: {{ATHighest}} ft.</h5>
                    </div>
                </div>
            </div>
            <div fxFlex="28" class="sub-data current-month">
                <h4>{{currentDate | date: 'MMMM'}} Highlights</h4>
                <h5>Trails Completed: {{monthCompletion}}</h5>
                <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 8px; text-align: left;">
                    <div style="padding-top: 5px;">
                        <h5>Total Mileage: {{monthMileage | number : '1.2-2'}}</h5>
                        <h5>Total Ascent: {{monthAscent}} ft.</h5>
                    </div>
                    <img src="../../../assets/roman_crown.svg">
                    <div style="padding-top: 5px;">
                        <h5>Longest: {{monthLongest | number : '1.2-2'}} miles</h5>
                        <h5>Highest Ascent: {{monthHighest}} ft.</h5>
                    </div>
                </div>
            </div>
            <div fxFlex="28" class="sub-data current-year">
                <h4>{{currentDate | date: 'y'}} Highlights</h4>
                <h5>Trails Completed: {{yearCompletion}}</h5>
                <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 8px;  text-align: left;">
                    <div style="padding-top: 5px;">
                        <h5>Total Mileage: {{yearMileage | number : '1.2-2'}}</h5>
                        <h5>Total Ascent: {{yearAscent}} ft.</h5>
                    </div>
                    <img src="../../../assets/roman_crown.svg">
                    <div style="padding-top: 5px;">
                        <h5>Longest: {{yearLongest | number : '1.2-2'}} miles</h5>
                        <h5>Highest Ascent: {{yearHighest}} ft.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>