@import '../../../styles/common.scss';

.main-container {
    background-image: url('../../../assets/home_landscape.jpg');
    background-size: cover;
    height: 100%;
    background-position: bottom;
    position: relative;
}

.content-container {
    width: 70%;
    margin: auto;
    padding: 16px;
    height: 100%;
    background-color: rgba(212, 186, 154, .8);
    overflow: auto;
    box-sizing: border-box;
}

.tab-container {
    max-width: 235px;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid $primary-spectrum;
    height: calc(100% - 36px);
    overflow: hidden;
}

mat-tab-label {
    padding: 0px;
}

.mat-ink-bar {
    width: 90px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 0!important;
    padding: 0px 20px 0px 20px !important;
    margin: 0px!important;
}

.trail-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px;
    display: block;

    &.location {
        font-size: 12px;
    }
}

.name {
    padding-top: 8px;
}

.location {
    padding-bottom: 8px;
}

.trail-row-cont:hover {
    background-color: rgba(145,120,100, .2);
    cursor: pointer;
}

.trail-row-cont {
    overflow: hidden;
}

.inner-container {
    height: calc(100% - 100px);
    overflow: auto;
}

.data-container {
    margin-left: 16px;

    .sub-data {
        border-top: 1px solid $primary-spectrum;
    }

    .sub-data:last-child {
        border-bottom: 1px solid $primary-spectrum;
    }
}

img {
    max-width: 90px;
}

.data-container {
    h2, h6 {
        margin: 0px;
    }
}

.all-time, .current-year, .current-month {
    text-align: center;
}

.current-month, .current-year {
    img {
        width: 50px;
        height: 50px;
    }
}

.all-time-data {
    position: relative;

    h2 {
        position: absolute;
        top: 10px;
    }
}

h4, h3 {
    margin: 8px 0px;
}

h5 {
    margin: 0px;
}

.vertical-div {
    border: 1px solid black;
}