<div class="main-container">
    <div class="content-container" fxLayout="row">
        <div class="tab-container mat-elevation-z4">
            <mat-tab-group>
                <mat-tab label="Completed">
                    <div class="inner-container">
                        <div *ngFor="let trail of completedTrails" fxLayout="column" 
                            class="trail-row-cont" [matTooltip]="trail.name + ' - ' + trail.location">
                            <div class="trail-row name">{{trail.name}}</div>
                            <div class="trail-row location">{{trail.location}}</div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Interested">
                    <div *ngFor="let trail of interestedTrails" fxLayout="column" 
                        class="trail-row-cont" [matTooltip]="trail.name + ' - ' + trail.location">
                        <div class="trail-row name">{{trail.name}}</div>
                        <div class="trail-row location">{{trail.location}}</div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="data-container" fxFlex fxLayout="column">
            <div fxFlex="33" class="sub-data">
                <h3>All-Time</h3>
                <div fxLayout="row">
                    <div>
                        <h2>{{completedTrails.length ? completedTrails.length : 0}}</h2>
                        <h6>Completed</h6>
                    </div>
                    <div>
                        <h2>{{interestedTrails.length ? interestedTrails.length : 0}}</h2>
                        <h6>Interested</h6>
                    </div>
                </div>
            </div>
            <div fxFlex="33" class="sub-data"></div>
            <div fxFlex="33" class="sub-data"></div>
        </div>
    </div>
</div>