<div class="content-container">
    <mat-toolbar style="z-index: 10;" color="primary">
        <h1>HikeAway</h1>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingData | async" style="max-height: 2px;">
    </mat-progress-bar>

    <div class="search-container dark-theme">
        <h1>Find Trails</h1>
        <mat-form-field style="text-align: center;">
            <input matInput type="text" [(ngModel)]="zip" placeholder="Zipcode">
        </mat-form-field>

        <mat-form-field style="text-align: center; max-width: 75px; margin-left: 10px;">
            <input matInput type="text" [(ngModel)]="distance" placeholder="Distance">
        </mat-form-field>
        <button mat-raised-button class="search-btn" (click)="goToTrailsList()">Search</button>
    </div>
</div>