<div class="content-container">
    <mat-toolbar style="z-index: 10;" color="primary">
        HikeAway
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingData | async" style="max-height: 2px;">
    </mat-progress-bar>

    <div class="search-container dark-theme">
        <h1>Find Trails</h1>
        <mat-form-field dividerColor="accent">
            <input matInput type="text">
        </mat-form-field>
        <button mat-raised-button class="search-btn">Search</button>
    </div>
</div>