:host {
    height: 100%;
}

.content-container {
    background-image: url('../../../assets/home_landscape.jpg');
    background-size: cover;
    height: 100%;
    background-position: bottom;
    position: relative;
}

.search-container {
    border: 2px solid white;
    width: 350px;
    height: 200px;
    margin: auto;
    transform: translateY(55%);
    text-align: center;

    h1 {
        color: white;
    }

    mat-form-field {
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
}

.search-btn {
    display: block;
    min-width: 100px;
    margin: auto;
    background-color: #d4ba9a;
    color: white;
}