<div class="content-container">
    <div class="search-container dark-theme">
        <h1>Find Trails</h1>
        <mat-form-field style="text-align: center;">
            <input matInput type="text" [(ngModel)]="zip" placeholder="Zipcode">
        </mat-form-field>

        <mat-form-field style="text-align: center; max-width: 75px; margin-left: 10px;">
            <input matInput type="text" [(ngModel)]="distance" placeholder="Distance">
        </mat-form-field>
        <button mat-raised-button class="search-btn" (click)="goToTrailsList()">Search</button>
    </div>
</div>