<div class="main-container">
    <div class="content-container">
        <div class="parent-list-container">
            <div class="list-container">
                <mat-card class="card-container" *ngFor="let trail of trails" fxLayout="row">
                    <img [src]="trail.imgSqSmall" alt="">
                    <div style="margin-left: 8px;" fxLayout="column">
                        <h3>{{trail.name}}</h3>
                        <span>{{trail.location}}</span>
                        <span>Difficulty: {{trail.difficulty}}</span>
                        <div fxLayout="row">
                            <mat-icon *ngFor="let star of getFullStars(trail)">star</mat-icon>
                            <mat-icon *ngFor="let star of getHalfStars(trail)">star_half</mat-icon>
                            <mat-icon *ngFor="let star of getEmptyStars(trail)">star_border</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
    
            <div class="paginator" fxLayout="row">
                <mat-icon style="margin-right: 10px;">first_page</mat-icon>
                <mat-icon style="margin-right: 10px;">chevron_left</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <mat-icon style="margin-left: 10px;">last_page</mat-icon>
            </div>
        </div>

    </div>
</div>