@import '../../../styles/common.scss';
// https://www.google.com/search?q=natural+color+palette&tbm=isch&source=iu&ictx=1&fir=8AFe78dOcRkZuM%253A%252CIgzhHfhvq1GRLM%252C_&usg=AI4_-kT3CyTo9-JOXkfVhNXT4-XuZZVLrA&sa=X&ved=2ahUKEwiMyt6xlvHeAhVHlVQKHXFRAYkQ9QEwCnoECAUQGA#imgrc=8AFe78dOcRkZuM:

.main-container {
    background-image: url('../../../assets/home_landscape.jpg');
    background-size: cover;
    height: calc(100% - 64px);
    background-position: bottom;
    position: relative;
}

.content-container {
    width: 70%;
    margin: auto;
    padding: 16px;
    height: 100%;
    // background-color: rgba(255, 255, 255, .7);
    background-color: rgba(212, 186, 154, .8);
}

.parent-list-container {
    max-width: 60%;
    height: calc(100% - 64px);
    overflow: hidden;
    padding: 16px;
    border-radius: 5px;
}

.list-container {
    max-height: calc(100% - 56px);
    overflow: auto;
}

.card-container {
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: $medium-spectrum;
    border: 2px solid #917864;

    img {
        border-radius: 5px;
    }
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.paginator {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    mat-icon {
        cursor: pointer;
        transform: scale(1.5);
    }
}