<div class="main-container">
    <div class="content-container" fxLayout="row">
        <div class="parent-list-container">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field style="margin-right: 50px;">
                    <mat-select placeholder="Filter By" [formControl]="filterType">
                        <mat-option value="none">None</mat-option>
                        <mat-option value="rating">Rating</mat-option>
                        <mat-option value="difficulty">Difficulty</mat-option>
                        <mat-option value="completion">Completion</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Select" [formControl]="filterOption">
                        <mat-option value="none">None</mat-option>
                        <mat-option [value]="option" *ngFor="let option of filterOptions">{{option.desc}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="list-container">
                <mat-card class="card-container" *ngFor="let trail of filteredTrails" fxLayout="row">
                    <img [src]="trail.imgSqSmall" alt="">
                    <div style="margin-left: 8px;" fxLayout="column">
                        <h3>{{trail.name}}</h3>
                        <span>{{trail.location}}</span>
                        <span>Difficulty: {{trail.difficulty}}</span>
                        <div fxLayout="row">
                            <mat-icon *ngFor="let star of getFullStars(trail)">star</mat-icon>
                            <mat-icon *ngFor="let star of getHalfStars(trail)">star_half</mat-icon>
                            <mat-icon *ngFor="let star of getEmptyStars(trail)">star_border</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
    
            <div class="paginator" fxLayout="row">
                <mat-icon style="margin-right: 10px;" (click)="getPageByNum(1)">first_page</mat-icon>
                <mat-icon style="margin-right: 10px;" (click)="getPageByNum(activePage - 1)">chevron_left</mat-icon>
                <div *ngFor="let i of pageArr" 
                    (click)="getPageByNum(i)" 
                    [ngStyle]="{'border-bottom': i === activePage ? '2px solid black' : ''}"
                    class="pageNum">
                    {{i}}
                </div>
                <mat-icon (click)="getPageByNum(activePage + 1)">chevron_right</mat-icon>
                <mat-icon style="margin-left: 10px;" (click)="getPageByNum(-1)">last_page</mat-icon>
            </div>
        </div>

        <div>
            <div class="spinner-container">
                <mat-spinner [mode]="'determinate'" strokeWidth="8" diameter="150" [value]="completionRate">
                    {{completionRate}}
                </mat-spinner>
            </div>
        </div>
    </div>
</div>