h2 {
    margin: 0px;
}

.trail-rating {
    mat-icon {
        max-height: 10px; 
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

textarea { 
    resize: vertical;
}