<div class="details-container" fxLayout="column">
    <div style="text-align: center;">
        <h2>{{data.trail?.name}}</h2>
        <div style="height: 20px;">
            <div fxLayout="row" style="margin: 5px 0px;" fxLayoutAlign="center center" class="trail-rating">
                <mat-icon style="max-height: 10px;" *ngFor="let star of getFullStars(data.trail)">star</mat-icon>
                <mat-icon style="max-height: 10px;" *ngFor="let star of getHalfStars(data.trail)">star_half</mat-icon>
                <mat-icon style="max-height: 10px;" *ngFor="let star of getEmptyStars(data.trail)">star_border</mat-icon>
                <h5 style="margin-left: 5px; max-height: 10px;" fxLayoutAlign="center center">{{data.trail?.starVotes}} votes</h5>
            </div>
        </div>
        <div style="font-size: 12px;">{{data.trail?.location}}</div>
        <div style="font-size: 12px;">Difficulty: {{data.trail?.difficulty}}</div>

        <div fxLayout="column">
            <h3>Your Rating:</h3>
            <div fxFlex="row">
                <mat-icon *ngFor="let start of starOptions">star_border</mat-icon>
            </div>
        </div>
    </div>

</div>