h2 {
    margin: 0px;
}

.trail-rating {
    max-height: 10px; 

    mat-icon {
        max-height: 10px; 
        font-size: 14px;
        // display: flex;
        // align-items: center;
        justify-content: center;
    }
}