<div class="content-container">
    <mat-toolbar color="primary" style="cursor: pointer;" fxLayoutAlign="space-between center">
        <div (click)="goHome()" fxLayout="row">
            <img src="../../../assets/mountain-outline.png" alt="" 
                style="max-width: 80px; max-height: 35px; cursor: pointer;">
            <h1>HikeAway</h1>
        </div>
        <div style="margin-right: 16px;" fxLayout="row">
            <h3 *ngIf="(authState$ | async) !== null" (click)="sidenav.toggle()">
                {{(authState$ | async)?.displayName}}
            </h3>
            <span id="hzDivider" *ngIf="(authState$ | async) !== null">&nbsp;{{'|'}}&nbsp;</span>
            <div class="login">
                <span (click)="login()" *ngIf="(authState$ | async) === null">Login</span>
                <span (click)="logout()" *ngIf="(authState$ | async) !== null">Logout</span>
            </div>
        </div>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingData | async" style="max-height: 2px;">
    </mat-progress-bar>

    <mat-sidenav-container style="height: calc(100% - 64px); width: 100%;">
        <mat-sidenav mode="over" #sidenav [opened]="false" class="side-nav"
            position="end">
            <mat-list class="links">
                <mat-list-item routerLink="/home">Home</mat-list-item>
                <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>