@import '../../../styles/common.scss';

.content-container {
    height: 100%;
    overflow: hidden;
}

mat-toolbar {
    border-bottom: 3px solid #D4BA9A;
}

h1, h3, h4 {
    font-family: 'Permanent Marker', cursive;
}

.login > span {
    font-size: 14px;
}

#hzDivider {
    font-family: 'Roboto';
}

.side-nav {
    width: 200px;
    background-color: $accent-spectrum;
}

.links {
    mat-list-item:hover {
        // background-color: rgba(212, 186, 154, .2);
        background-color: rgba(145,120,100, .2);
        cursor: pointer;
    }
}